body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(157, 157, 157);
}

.text {
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    text-decoration: underline;
}

#container {
    max-width: 295px;
    background-color: rgb(45, 44, 44);
    overflow: hidden;
    border-radius: 10px;
}

#input {
    background-color: rgb(75, 75, 75);
    height: 55px;
    width: 100%;
    font-size: 5rem;
    text-align: left;
    padding: 5px;
}

#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 20px;
    gap: 20px;
}

.key {
    border: none;
    border-radius: 100px;
    background-color: rgb(99, 98, 98);
    color: white;
    width: 50px;
    height: 50px;
    font-weight: bolder;
    font-size: 1.5rem;
    cursor: pointer;
    align-content: center;
}

.key:hover {
    background-color: rgb(34, 34, 34);
}

.key:active {
    background-color: rgb(67, 67, 67);
}

.operator {
    background-color: rgb(191, 190, 190);
}

.clear {
    background-color: rgb(190, 107, 107);
    color: white;
}

.clear:hover {
    background-color: rgb(118, 23, 23);
}

.clear:active {
    background-color: rgb(130, 70, 70);
}

.calculate {
    background-color: rgb(164, 237, 56);
    color: black;
}

.calculate:hover {
    background-color: rgb(117, 192, 6);
}

.calculate:active {
    background-color: rgb(159, 219, 70);
}